version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
      time: "12:00"
    commit-message:
      prefix: "[#patch]"
      include: scope
    cooldown:
      default-days: 7
    groups:
      actions-deps:
        patterns:
          - "*"
  - package-ecosystem: pip
    directory: /auto-tagger
    schedule:
      interval: monthly
      time: "12:00"
    commit-message:
      prefix: "[#patch]"
      prefix-development: ""
      include: scope
    groups:
      auto-tagger:
        dependency-type: "production"
      auto-tagger-dev:
        dependency-type: "development"
    cooldown:
      default-days: 7
