[tool.poetry]
name = "auto-tagger"
version = "0.1.0"
description = ""
authors = ["notdodo"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pygithub = "^2.3.0"
semver = "^3.0.2"

[tool.poetry.group.dev.dependencies]
black = "^24.4.1"
flake8 = "^7.0.0"
mypy = "^1.10.0"
isort = "^5.13.2"
pydantic = "^2.7.1"
pylint = "^3.1.0"
types-requests = "^2.31.0.20240406"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
