[flake8]
select = C,E,F,W
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .venv
max-line-length = 100
# W503 line break before binary operator ( https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#id1 )
extend-ignore = W503