name: Clean Branch Cache

on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      runs-on:
        type: string
        default: 'ubuntu-latest'

jobs:
  cleanup:
    name: Cleanup caches for a merged branch
    runs-on: ${{ inputs.runs-on }}
    permissions:
      actions: write
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo-and-containers: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
      - name: Cleanup
        # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows#managing-caches
        run: |
          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh cache list --ref "${BRANCH}" --limit 100 --json id --jq '.[].id')

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          while IFS= read -r cacheKey; do
              [ -z "$cacheKey" ] && continue
              gh cache delete "$cacheKey"
          done <<< "$cacheKeysForPR"
          echo "Done"
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
