name: Docker Build and Push

on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      dockerfile:
        type: string
        default: 'Dockerfile'
      egress-policy-allowlist:
        type: string
        default: ''
      flavor:
        type: string
        description: 'Defines a global behavior for tags'
        default: |
          latest=auto
          prefix=
          suffix=
      image:
        required: true
        type: string
      platforms:
        type: string
        default: 'linux/amd64,linux/arm64'
      push:
        type: boolean
        default: false
      registry:
        type: string
        default: ''
      runs-on:
        type: string
        default: 'ubuntu-latest'
      scan-image:
        type: boolean
        default: true
      tags:
        type: string
        default: |
          type=schedule
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
      trivy-severity:
        type: string
        default: 'CRITICAL,HIGH'
      trivy-vuln-type:
        type: string
        default: 'os,library'
      upload-sarif:
        type: boolean
        default: true
      working-directory:
        type: string
        default: '.'
    secrets:
      registry-username:
        required: false
      registry-password:
        required: false

jobs:
  build-and-push-image:
    permissions:
      artifact-metadata: write
      attestations: write
      contents: read
      id-token: write
      packages: write
      security-events: write
    name: Docker build and push
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            *.docker.io:443
            *.githubapp.com:443
            *.githubusercontent.com:443
            *.sigstore.dev:443
            *.trivy.dev:443
            api.github.com:443
            docker-images-prod.*.r2.cloudflarestorage.com:443
            download.docker.com:443
            ghcr.io:443
            github.com:443
            mirror.gcr.io:443
            production.cloudflare.docker.com:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          cache-binary: false
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: inputs.push
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-password }}
      - name: Extract metadata (tags, labels) for Docker
        id: metadata
        if: inputs.push
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ inputs.registry }}/${{ inputs.image }}
          tags: ${{ inputs.tags }}
          flavor: ${{ inputs.flavor }}
      - name: Build and push
        id: build
        if: inputs.push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          annotations: ${{ steps.metadata.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/${{ inputs.dockerfile }}
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: ${{ inputs.platforms }}
          provenance: mode=max
          push: ${{ inputs.push }}
          tags: ${{ steps.metadata.outputs.tags }}
      - name: Build push locally
        id: build-local
        if: ${{ !inputs.push }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          load: true
          push: false
          tags: localimage:${{ github.sha }}
      - name: Generate artifact attestation
        if: inputs.push
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-name: ${{ inputs.registry }}/${{ inputs.image }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
          create-storage-record: ${{ startsWith(inputs.registry, 'ghcr.io') }}
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        if: inputs.scan-image
        with:
          format: sarif
          ignore-unfixed: true
          image-ref: ${{ inputs.push && format('{0}/{1}@{2}', inputs.registry, inputs.image, steps.build.outputs.digest) || format('localimage:{0}', github.sha) }}
          vuln-type: ${{ inputs.trivy-vuln-type }}
          severity: ${{ inputs.trivy-severity }}
          output: ${{ inputs.working-directory }}/trivy_results.sarif
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate SBOM
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        if: inputs.push
        with:
          format: spdx-json
          image-ref: ${{ format('{0}/{1}@{2}', inputs.registry, inputs.image, steps.build.outputs.digest) }}
          output: ${{ inputs.working-directory }}/sbom.spdx.json
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Attest SBOM
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        if: inputs.push
        with:
          subject-name: ${{ inputs.registry }}/${{ inputs.image }}
          subject-digest: ${{ steps.build.outputs.digest }}
          sbom-path: ${{ inputs.working-directory }}/sbom.spdx.json
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        if: inputs.push
      - name: Sign image
        if: inputs.push
        env:
          COSIGN_YES: 'true'
          IMAGE_REF: ${{ format('{0}/{1}@{2}', inputs.registry, inputs.image, steps.build.outputs.digest) }}
          CERT_IDENTITY: ${{ format('https://github.com/{0}', github.workflow_ref) }}
          CERT_OIDC_ISSUER: https://token.actions.githubusercontent.com
        run: |
          cosign sign "${IMAGE_REF}"
          cosign verify --certificate-identity "${CERT_IDENTITY}" --certificate-oidc-issuer "${CERT_OIDC_ISSUER}" "${IMAGE_REF}"
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
        if: inputs.scan-image
      - name: Run reviewdog
        if: inputs.scan-image
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./trivy_results.sarif)" | reviewdog -reporter=github-check -f=sarif -level=warning -diff="git diff FETCH_HEAD"
      - name: Upload results
        if: ${{ inputs.scan-image && inputs.upload-sarif }}
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 #  v4.31.9
        with:
          sarif_file: ${{ inputs.working-directory }}/trivy_results.sarif
          category: container-security
