on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      dockerfile:
        type: string
        default: 'Dockerfile'
      egress-policy-allowlist:
        type: string
        default: ''
      flavor:
        type: string
        description: 'Defines a global behavior for tags'
        default: |
          latest=auto
          prefix=
          suffix=
      image:
        required: true
        type: string
      platforms:
        type: string
        default: 'linux/amd64,linux/arm64'
      push:
        type: boolean
        default: false
      registry:
        type: string
        default: ''
      runs-on:
        type: string
        default: 'ubuntu-latest'
      scan-image:
        type: boolean
        default: true
      tags:
        type: string
        default: |
          type=schedule
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
      trivy-severity:
        type: string
        default: 'CRITICAL,HIGH'
      trivy-vuln-type:
        type: string
        default: 'os,library'
      upload-sarif:
        type: boolean
        default: true
      working-directory:
        type: string
        default: '.'
    secrets:
      registry-username:
        required: true
      registry-password:
        required: true

jobs:
  build-and-push-image:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
      security-events: write
    name: Docker build and push
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: false
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            check.trivy.dev:443
            download.docker.com:443
            fulcio.sigstore.dev:443
            ghcr.io:443
            github.com:443
            githubapp.com:443
            index.docker.io:443
            mirror.gcr.io:443
            objects.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            production.cloudflare.docker.com:443
            raw.githubusercontent.com:443
            registry-1.docker.io:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-password }}
      - name: Extract metadata (tags, labels) for Docker
        id: metadata
        if: inputs.push
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ inputs.registry }}/${{ inputs.image }}
          tags: ${{ inputs.tags }}
          flavor: ${{ inputs.flavor }}
      - name: Build and push
        id: build
        if: inputs.push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          annotations: ${{ steps.metadata.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/${{ inputs.dockerfile }}
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: ${{ inputs.platforms }}
          provenance: mode=max
          push: ${{ inputs.push }}
          tags: ${{ steps.metadata.outputs.tags }}
      - name: Build push locally
        id: build-local
        if: ${{ !inputs.push }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          load: true
          push: false
          tags: localimage:${{ github.sha }}
      - name: Generate artifact attestation
        if: inputs.push
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ${{ inputs.registry }}/${{ inputs.image }}
          subject-digest: ${{ steps.build.outputs.imageid }}
          push-to-registry: true
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        if: inputs.scan-image
        with:
          format: sarif
          ignore-unfixed: true
          image-ref: ${{ inputs.push && format('{0}/{1}@{2}', inputs.registry, inputs.image, steps.build.outputs.digest) || format('localimage:{0}', github.sha) }}
          vuln-type: ${{ inputs.trivy-vuln-type }}
          severity: ${{ inputs.trivy-severity }}
          output: ${{ inputs.working-directory }}/trivy_results.sarif
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
        if: inputs.scan-image
      - name: Run reviewdog
        if: inputs.scan-image
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./trivy_results.sarif)" | reviewdog -reporter=github-check -f=sarif -level=warning -diff="git diff FETCH_HEAD"
      - name: Upload results
        if: ${{ inputs.scan-image && inputs.upload-sarif }}
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 #  v4.31.5
        with:
          sarif_file: ${{ inputs.working-directory }}/trivy_results.sarif
          category: container-security
