on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      egress-policy-allowlist:
        type: string
        default: ''
      runs-on:
        type: string
        default: 'ubuntu-latest'

jobs:
  gitleaks:
    permissions:
      contents: read
      pull-requests: write
    name: gitleaks
    runs-on: ${{ inputs.runs-on }}
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: gitleaks
        uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9
        # Comments works only when the workflow is called on `pull_request:`
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITLEAKS_ENABLE_UPLOAD_ARTIFACT: false
          GITLEAKS_VERSION: latest
