on:
  workflow_call:
    inputs:
      dependency-submission:
        type: boolean
        default: true
      disable-sudo:
        type: boolean
        default: true
      egress-policy-allowlist:
        type: string
        default: ''
      runs-on:
        type: string
        default: 'ubuntu-latest'
      working-directory:
        type: string
        default: '.'

jobs:
  go-lint:
    name: Golang Linting
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            sum.golang.org:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          workdir: ${{ inputs.working-directory }}
          fail_level: any
          filter_mode: nofilter
          tool_name: golangci-lint

  go-build-and-test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

            proxy.golang.org:443

            storage.googleapis.com:443
            sum.golang.org:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache-dependency-path: |
            ${{ inputs.working-directory }}/**/*.sum
      - name: Install dependencies
        run: go get -v .
      - name: Build
        run: go build -v ./...
      - name: Test with the Go CLI
        run: go test -v ./...

  go-action-detection:
    name: Go Dependency Submission for Dependabot
    if: ${{ inputs.dependency-submission }}
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

            proxy.golang.org:443

            storage.googleapis.com:443
            sum.golang.org:443
            ${{ inputs.egress-policy-allowlist }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache-dependency-path: |
            ${{ inputs.working-directory }}/**/*.sum
      - name: Run snapshot action
        uses: actions/go-dependency-submission@f35d5c9af13ce9cc32f7930b171e315e878f6921 # v2.0.3
        with:
          go-mod-path: ${{ inputs.working-directory }}/go.mod
