name: Go Security Scan

on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      egress-policy-allowlist:
        type: string
        default: ''
      runs-on:
        type: string
        default: 'ubuntu-latest'
      upload-sarif:
        type: boolean
        default: true
      working-directory:
        type: string
        default: '.'

jobs:
  gosec:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      pull-requests: write
      checks: write
      security-events: write
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    env:
      GO111MODULE: on
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            proxy.golang.org:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            ${{ inputs.egress-policy-allowlist }}
      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run Gosec Security Scanner
        # kics-scan ignore-line
        uses: securego/gosec@master
        with:
          args: '-no-fail -fmt sarif -out ${{ inputs.working-directory }}/gosec-results.sarif ${{ inputs.working-directory }}/...'
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - name: Run reviewdog
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./gosec-results.sarif)" | reviewdog -reporter=github-check -f=sarif -level=error -diff="git diff FETCH_HEAD"
      - name: Upload results
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 #  v4.31.5
        with:
          sarif_file: '${{ inputs.working-directory }}/gosec-results.sarif'
          category: sast
        if: ${{ inputs.upload-sarif }}
