name: Infra Security Scan

on:
  workflow_call:
    inputs:
      disable-sudo:
        type: boolean
        default: true
      egress-policy-allowlist:
        type: string
        default: ''
      enable-comments:
        type: boolean
        default: true
      runs-on:
        type: string
        default: 'ubuntu-latest'
      upload-sarif:
        type: boolean
        default: true
      working-directory:
        type: string
        default: '.'

jobs:
  infra-security-scan:
    name: Scan with Kics
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            9236a389bd48b984df91adc1bc924620.r2.cloudflarestorage.com:443
            api.github.com:443
            apk.cgr.dev:443
            github.com:443
            kics.io:443
            packages.wolfi.dev:443
            registry.npmjs.org:443
            ${{ inputs.egress-policy-allowlist }}
      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Kics Scan
        uses: Checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: ${{ inputs.working-directory }}
          output_path: ${{ inputs.working-directory }}/kics_results.sarif
          output_formats: sarif
          fail_on: high,medium
          token: ${{ github.token }}
          enable_comments: ${{ inputs.enable-comments }}
          enable_annotations: true
          enable_jobs_summary: true
          comments_with_queries: true
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e #  v4.32.4
        with:
          sarif_file: ${{ inputs.working-directory }}/kics_results.sarif
          category: devops
        if: ${{ inputs.upload-sarif }}

  zizmor:
    name: GitHub Actions Security Analysis
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: ${{ inputs.disable-sudo }}
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1.71.0
        continue-on-error: true
        with:
          fail_level: any
          filter_mode: nofilter
          tool_name: actionlint
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
      - name: Run zizmor
        run: |
          wget https://raw.githubusercontent.com/notdodo/github-actions/refs/heads/main/zizmor.yml
          uvx zizmor --format sarif . > zizmor_results.sarif
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - name: Run reviewdog
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./zizmor_results.sarif)" | reviewdog -reporter=github-check -f=sarif -level=warning -diff="git diff FETCH_HEAD"
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e #  v4.32.4
        with:
          sarif_file: zizmor_results.sarif
          category: github-actions
        if: ${{ inputs.upload-sarif }}
