name: auto-tag
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/*.yml
      - auto-tagger/**
      - '!.github/workflows/local-*.yml'

concurrency:
  group: ghas-auto-tagger-${{ github.ref }}

jobs:
  auto-tag:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stategy:
          - fail-fast: true
        include:
          - name: cleanup-cache
            change_paths: .github/workflows/clean-branch-cache.yml
            tag_path: .github/workflows/clean-branch-cache.yml
            prefix: cleanup-v
          - name: docker-build-and-push
            change_paths: .github/workflows/docker-build-and-push.yml
            tag_path: .github/workflows/docker-build-and-push.yml
            prefix: docker-build-and-push-v
          - name: gitleaks
            change_paths: .github/workflows/gitleaks.yml
            tag_path: .github/workflows/gitleaks.yml
            prefix: gitleaks-v
          - name: go-ci
            change_paths: .github/workflows/go-ci.yml
            tag_path: .github/workflows/go-ci.yml
            prefix: go-ci-v
          - name: go-security-scan
            change_paths: .github/workflows/go-security-scan.yml
            tag_path: .github/workflows/go-security-scan.yml
            prefix: go-sec-v
          - name: infra-security-scan
            change_paths: .github/workflows/infra-security-scan.yml
            tag_path: .github/workflows/infra-security-scan.yml
            prefix: infra-scan-v
          - name: pulumi
            change_paths: |
              .github/workflows/pulumi-preview.yml
              .github/workflows/pulumi-up.yml
            tag_path: .github/workflows/
            prefix: pulumi-v
          - name: python-ci
            change_paths: .github/workflows/python-ci.yml
            tag_path: .github/workflows/python-ci.yml
            prefix: python-ci-v
          - name: rust-ci
            change_paths: .github/workflows/rust-ci.yml
            tag_path: .github/workflows/rust-ci.yml
            prefix: rust-ci-v
          - name: sast
            change_paths: .github/workflows/sast.yml
            tag_path: .github/workflows/sast.yml
            prefix: sast-v
          - name: terraform-ci
            change_paths: .github/workflows/terraform-ci.yml
            tag_path: .github/workflows/terraform-ci.yml
            prefix: terraform-ci-v
          - name: auto-tagger
            change_paths: auto-tagger/**
            tag_path: ./auto-tagger/
            prefix: auto-tagger-v
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Detect changes for ${{ matrix.name }}
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: ${{ matrix.change_paths }}

      - name: Run auto-tag if target changes
        if: steps.changed-files.outputs.any_changed == 'true'
        # kics-scan ignore-line
        uses: notdodo/github-actions/auto-tagger@auto-tagger-v0
        with:
          bind_to_major: true
          default_bump_strategy: skip
          default_branch: main
          path: ${{ matrix.tag_path }}
          prefix: ${{ matrix.prefix }}
          github_token: ${{ github.token }}
          dry_run: false
