on:
  workflow_call:
    inputs:
      runs-on:
        type: string
        default: 'ubuntu-latest'
      upload-sarif:
        type: boolean
        default: true
    secrets:
      semgrep_app_token:
        required: false

jobs:
  semgrep:
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    name: Semgrep
    runs-on: ${{ inputs.runs-on }}
    if: (github.repository_owner == 'notdodo')
    container:
      image: semgrep/semgrep:1.125.0
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: 'Dependency Review'
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: moderate
          comment-summary-in-pr: on-failure
      - name: Semgrep
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.semgrep_app_token }}
        run: |
          if [ -n "$SEMGREP_APP_TOKEN" ]; then
            echo "Running authenticated scan..."
            semgrep ci --sarif --sarif-output=./sast-output.sarif
          else
            echo "Running default scan..."
            semgrep scan --config=auto --sarif --sarif-output=./sast-output.sarif
          fi
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - name: Run reviewdog
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./sast-output.sarif)" | reviewdog -reporter=github-check -f=sarif -level=error -diff="git diff FETCH_HEAD"
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 #  v4.31.5
        with:
          sarif_file: ./sast-output.sarif
          category: sast
        if: ${{ inputs.upload-sarif }}
