on:
  workflow_call:
    inputs:
      runs-on:
        type: string
        default: 'ubuntu-latest'
      upload-sarif:
        type: boolean
        default: true
    secrets:
      semgrep_app_token:
        required: false

jobs:
  semgrep:
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    name: Semgrep
    runs-on: ${{ inputs.runs-on }}
    if: (github.repository_owner == 'notdodo')
    container:
      image: semgrep/semgrep:1.125.0
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: 'Dependency Review'
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: moderate
          comment-summary-in-pr: on-failure
      - name: Semgrep
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.semgrep_app_token }}
        run: |
          if [ -n "$SEMGREP_APP_TOKEN" ]; then
            echo "Running authenticated scan..."
            semgrep ci --sarif --sarif-output=./sast-output.sarif
          else
            echo "Running default scan..."
            semgrep scan --config=auto --sarif --sarif-output=./sast-output.sarif
          fi
      - uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
      - name: Run reviewdog
        continue-on-error: true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$(cat ./sast-output.sarif)" | reviewdog -reporter=github-check -f=sarif -level=error -diff="git diff FETCH_HEAD"
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047 #  v4.30.9
        with:
          sarif_file: ./sast-output.sarif
          category: sast
        if: ${{ inputs.upload-sarif }}
